.photo-grid {
	max-width: 1184px;
	margin: 0 auto;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
	gap: 16px;
	/* Это было тут с самого начала, перенес в медиа запрос, возможно, из-за этого косяк */
	/* padding: 0 48px; */
}

@media screen and (max-width: 1024px) {
	.photo-grid {
		/* Добавил */
		padding: 0 48px;
		gap: 14px;
	}
}

@media screen and (max-width: 768px) {
	.photo-grid {
		gap: 16px;
		padding: 0 24px;
	}
}

@media screen and (max-width: 425px) {
	.photo-grid {
		gap: 12px;
		padding: 0 16px;
	}
}