.cover__title {
	margin: 0;
	max-width: 560px;
	font-size: 72px;
	font-weight: 900;
	line-height: 1.1;
	z-index: 10;
}

@media screen and (max-width: 500px) {
	.cover__title {
		max-width: 420px;
		font-size: 56px;
	}
}

@media screen and (max-width: 425px) {
	.cover__title {
		max-width: 250px;
		font-size: 32px;
	}
}