.place {
	width: 100%;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: minmax(auto, 460px) 1fr;
	gap: 48px 40px;
}

@media (max-width: 1024px) {
	.place {
		grid-template-columns: minmax(auto, 440px) 1fr;
		gap: 48px 32px;
	}
}

@media (max-width: 768px) {
	.place {
		margin-bottom: 73px;
		grid-template-columns: minmax(auto, 340px) 1fr;
		gap: 48px 28px;
	}
}

@media (max-width: 425px) {
	.place {
		margin-bottom: 50px;
		grid-template-columns: 1fr;
		gap: 32px;
	}
}

.place:last-child {
	margin-bottom: 0;
}