@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
}

.page {
	font-family: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 400;
	color: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #2a2c2f;
}

.content {
	max-width: 1280px;
	margin: 0 auto;
	padding: 28px 48px 24px;
}

.link {
	margin: 0;
	color: #fff;
	text-decoration: none;
}

.link:hover {
	opacity: .5;
	transition: .2s;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header__links {
	align-self: flex-start;
	margin-top: 18px;
}

.header__lang-link {
	margin-right: 18px;
	font-size: 24px;
	line-height: 28px;
}

.header__lang-link:last-child {
	margin-right: 0;
}

.header__lang-link_active {
	border-bottom: 2px solid #fff;
}

.lead {
	max-width: 984px;
	margin: 0 auto;
	padding-top: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.lead__title {
	margin: 0 0 32px 0;
	max-width: 720px;
	font-size: 96px;
	font-weight: 900;
	line-height: 100px;
}

.lead__subtitle {
	margin: 0 0 64px 0;
	max-width: 640px;
	font-size: 30px;
	line-height: 36px;
}

.lead__image {
	width: 100%;
	min-height: 615px;
	background-image: url("../images/lead-polka.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.lead__caption {
	margin: 8px 0 0 0;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	align-self: flex-start;
}

.intro {
	max-width: 984px;
	margin: 0 auto;
	padding: 92px 0;
	display: flex;
	flex-direction: column;
}

.intro__title {
	margin: 0 0 40px 0;
	max-width: 690px;
	font-size: 54px;
	font-weight: 900;
	line-height: 58px;
}

.intro__text {
	margin: 0 0 33px 0;
	max-width: 690px;
	font-size: 16px;
	line-height: 26px;
}

.intro__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.intro__list-item {
	font-size: 12px;
	line-height: 18px;
}

.span-accent {
	font-weight: 900;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
	gap: 16px;
}

.photo-grid__item {
	width: 100%;
	max-height: 264px;
	object-fit: cover;
}

.places {
	max-width: 984px;
	margin: 0 auto;
	padding: 92px 0;
}

.place {
	width: 100%;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 48px 40px;
}

.place:last-child {
	margin-bottom: 0;
}

.place__title {
	margin: 0;
	max-width: 460px;
	font-size: 72px;
	font-weight: 900;
	line-height: 76px;
}

.place__image {
	width: 100%;
	object-fit: cover;
}

.place__website {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.place__url-heading {
	margin: 0 0 12px 0;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.2em;
	color: #aaa;
}

.place__link {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	border-bottom: 2px solid #fff;
}

.place__paragraph {
	margin: 0 0 26px 0;
	font-size: 18px;
	line-height: 29px;
}

.place__paragraph:last-child {
	margin: 0;
}

.cover {
	width: 100%;
	min-height: 740px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("../images/cover-trains.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #2a2c2f;
	opacity: .3;
}

.cover:hover::before {
	opacity: .8;
	transition: .2s;
	cursor: pointer;
}

.cover__title {
	margin: 0;
	max-width: 560px;
	font-size: 72px;
	font-weight: 900;
	line-height: 76px;
	z-index: 10;
}

.cover__subtitle {
	margin: 32px 0 0 0;
	max-width: 360px;
	font-family: Inter;
	font-size: 18px;
	line-height: 22px;
	z-index: 10;
}

.footer {
	padding-top: 92px;
	display: flex;
	justify-content: space-between;
}

.footer__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.footer__list-item {
	margin-right: 18px;
}

.footer__list-item:last-child {
	margin-right: 0;
}

.footer__link {
	font-size: 16px;
	line-height: 18px;
}

.footer__copyright {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
}