.list__item_section_footer {
	margin-right: 18px;
}

@media screen and (max-width: 425px) {
	.list__item_section_footer {
		margin-right: 0;
		margin-bottom: 32px;
	}
	.list__item_section_footer:last-child {
		margin-bottom: 0;
	}
}

.list__item_section_footer:last-child {
	margin-right: 0;
}